<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tbug.ball.service.dao.user.TradeUserMapper" >
  <resultMap id="BaseResultMap" type="com.tbug.ball.service.model.user.TradeUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_code" property="userCode" jdbcType="CHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_code, login_name, password, salt, create_time, creater, modify_time, modify_user, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from trade_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trade_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.tbug.ball.service.model.user.TradeUser" >
    insert into trade_user (id, user_code, login_name, 
      password, salt, create_time, 
      creater, modify_time, modify_user, 
      status)
    values (#{id,jdbcType=INTEGER}, #{userCode,jdbcType=CHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.tbug.ball.service.model.user.TradeUser" >
    insert into trade_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=CHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tbug.ball.service.model.user.TradeUser" >
    update trade_user
    <set >
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=CHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tbug.ball.service.model.user.TradeUser" >
    update trade_user
    set user_code = #{userCode,jdbcType=CHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <select id="selectByLoginName" resultMap="BaseResultMap" >
	    select 
	    <include refid="Base_Column_List" />
	    from trade_user
	    where login_name = #{loginName,jdbcType=VARCHAR}
  	</select>
    <select id="selectByCode" resultMap="BaseResultMap" >
	    select 
	    <include refid="Base_Column_List" />
	    from trade_user
	    where user_code = #{userCode,jdbcType=CHAR}
  	</select>
    <select id="listByMap" resultMap="BaseResultMap" >
	    select 
	    <include refid="Base_Column_List" />
	    from trade_user
	    <where>
	      <if test="userCode != null and userCode != ''" >AND user_code = #{userCode,jdbcType=CHAR}</if>
	      <if test="loginName != null and loginName != ''" >AND login_name = #{loginName,jdbcType=VARCHAR}</if>
	      <if test="creater != null and creater != ''" >AND creater = #{creater,jdbcType=VARCHAR}</if>
	      <if test="status != null and status != ''" >AND status = #{status,jdbcType=CHAR}</if>	    
	    </where>
	    <choose>
	  		<when test="(field == 'id') and (sort == 'desc' or sort == 'DESC' or sort == 'asc' or sort == 'ASC')">
	  			ORDER BY ${field} ${sort}
	  		</when>
	  		<otherwise>
	  			order by id
	  		</otherwise>
	  	</choose>
	  	<if test="offset != null and limit != null">
	  		LIMIT #{offset,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
	  	</if>
  	</select>
    <select id="countByMap" resultType="java.lang.Integer" >
	    select count(*)
	    from trade_user
	    <where>
	      <if test="userCode != null and userCode != ''" >AND user_code = #{userCode,jdbcType=CHAR}</if>
	      <if test="loginName != null and loginName != ''" >AND login_name = #{loginName,jdbcType=VARCHAR}</if>
	      <if test="creater != null and creater != ''" >AND creater = #{creater,jdbcType=VARCHAR}</if>
	      <if test="status != null and status != ''" >AND status = #{status,jdbcType=CHAR}</if>	    
	    </where>
  	</select>
</mapper>