<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div id="fixed-table-toolbar">
						<div class="columns pull-left">
							<button type="button" 
								class="btn btn-warning" onclick="freeze()">
								<i class="fa fa-times" aria-hidden="true"></i>冻结
							</button>
							<button type="button" 
								class="btn btn-primary" onclick="unfreeze()">
								<i class="fa fa-reply-all" aria-hidden="true"></i>恢复
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2">
							<input id="searchName" type="text" class="form-control" placeholder="手机号">
						</div>
					</div>
					<table id="accountBrokerTable" data-mobile-responsive="true"></table>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 权限控制 -->
	<div>
		<script type="text/javascript">
			var a_edit = 'hidden';
			var b_clean = 'hidden';
		</script>
	</div>
	<div shiro:hasPermission="account:trade:trade">
		<script type="text/javascript">
		a_edit = '';
		</script>
	</div>
	<div shiro:hasPermission="operate:order:clean">
		<script type="text/javascript">
		b_clean = '';
		</script>
	</div>
	
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/account/broker/broker.js"></script>
</body>

</html>