<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tbug.ball.service.dao.schedule.StakeMapper">
	<resultMap id="BaseResultMap" type="com.tbug.ball.service.model.schedule.Stake">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="stake_code" property="stakeCode" jdbcType="CHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="stake_limit_quantity" property="stakeLimitQuantity"
			jdbcType="INTEGER" />
		<result column="trade_fee" property="tradeFee" jdbcType="DECIMAL" />
		<result column="member_fee" property="memberFee" jdbcType="DECIMAL" />
	</resultMap>
	<sql id="Base_Column_List">
		id, stake_code, price, status, create_time, stake_limit_quantity,
		trade_fee, member_fee
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from stake
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from stake
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.tbug.ball.service.model.schedule.Stake">
		insert into stake (id, stake_code, price,
		status, create_time, stake_limit_quantity,
		trade_fee, member_fee)
		values (#{id,jdbcType=INTEGER}, #{stakeCode,jdbcType=CHAR},
		#{price,jdbcType=DECIMAL},
		#{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{stakeLimitQuantity,jdbcType=INTEGER},
		#{tradeFee,jdbcType=DECIMAL}, #{memberFee,jdbcType=DECIMAL})
	</insert>
	<insert id="insertSelective" parameterType="com.tbug.ball.service.model.schedule.Stake">
		insert into stake
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="stakeCode != null">
				stake_code,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="stakeLimitQuantity != null">
				stake_limit_quantity,
			</if>
			<if test="tradeFee != null">
				trade_fee,
			</if>
			<if test="memberFee != null">
				member_fee,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="stakeCode != null">
				#{stakeCode,jdbcType=CHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stakeLimitQuantity != null">
				#{stakeLimitQuantity,jdbcType=INTEGER},
			</if>
			<if test="tradeFee != null">
				#{tradeFee,jdbcType=DECIMAL},
			</if>
			<if test="memberFee != null">
				#{memberFee,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tbug.ball.service.model.schedule.Stake">
		update stake
		<set>
			<if test="stakeCode != null">
				stake_code = #{stakeCode,jdbcType=CHAR},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stakeLimitQuantity != null">
				stake_limit_quantity = #{stakeLimitQuantity,jdbcType=INTEGER},
			</if>
			<if test="tradeFee != null">
				trade_fee = #{tradeFee,jdbcType=DECIMAL},
			</if>
			<if test="memberFee != null">
				member_fee = #{memberFee,jdbcType=DECIMAL},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tbug.ball.service.model.schedule.Stake">
		update stake
		set stake_code = #{stakeCode,jdbcType=CHAR},
		price = #{price,jdbcType=DECIMAL},
		status = #{status,jdbcType=CHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		stake_limit_quantity = #{stakeLimitQuantity,jdbcType=INTEGER},
		trade_fee = #{tradeFee,jdbcType=DECIMAL},
		member_fee = #{memberFee,jdbcType=DECIMAL}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByCode" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from stake
		where stake_code = #{stakeCode,jdbcType=CHAR}
	</select>
	<select id="listStake" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from stake	
	</select>
</mapper>