<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="tradeRoleForm">
							<input id="id" name="id" th:value="${tradeUserDto.id}" class="hidden">
							<input type="hidden" name="roleIds" id="roleIds" th:value="${roleIds}">
							<div class="form-group">
								<label class="col-sm-3 control-label"><span class="red-star">*</span>角色</label>
								<div class="col-sm-8">
									<label th:each="role:${roles}" class="checkbox-inline">
										<input name="role" type="checkbox" th:value="${role.roleId}"
										th:text="${role.roleName}" th:checked="${role.roleSign}">
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/user/trade/reRole.js"></script>
</body>
</html>
