<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tbug.ball.service.dao.system.SysLogMapper">
	<resultMap id="BaseResultMap" type="com.tbug.ball.service.model.system.SysLog">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="operation" property="operation" jdbcType="VARCHAR" />
		<result column="time" property="time" jdbcType="INTEGER" />
		<result column="method" property="method" jdbcType="VARCHAR" />
		<result column="params" property="params" jdbcType="VARCHAR" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result column="msg" property="msg" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, username, operation, time, method, params, ip, gmt_create,msg
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_log
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sys_log
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.tbug.ball.service.model.system.SysLog">
		insert into sys_log (id, user_id, username,
		operation, time, method,
		params, ip, gmt_create,msg
		)
		values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
		#{username,jdbcType=VARCHAR},
		#{operation,jdbcType=VARCHAR}, #{time,jdbcType=INTEGER}, #{method,jdbcType=VARCHAR},
		#{params,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
		#{gmtCreate,jdbcType=TIMESTAMP}, #{msg,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.tbug.ball.service.model.system.SysLog">
		insert into sys_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="operation != null">
				operation,
			</if>
			<if test="time != null">
				time,
			</if>
			<if test="method != null">
				method,
			</if>
			<if test="params != null">
				params,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="msg != null">
				msg,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="operation != null">
				#{operation,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				#{time,jdbcType=INTEGER},
			</if>
			<if test="method != null">
				#{method,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				#{params,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="msg != null">
				#{msg,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tbug.ball.service.model.system.SysLog">
		update sys_log
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="operation != null">
				operation = #{operation,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				time = #{time,jdbcType=INTEGER},
			</if>
			<if test="method != null">
				method = #{method,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				params = #{params,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="msg != null">
				msg = #{msg,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tbug.ball.service.model.system.SysLog">
		update sys_log
		set user_id = #{userId,jdbcType=BIGINT},
		username = #{username,jdbcType=VARCHAR},
		operation = #{operation,jdbcType=VARCHAR},
		time = #{time,jdbcType=INTEGER},
		method = #{method,jdbcType=VARCHAR},
		params = #{params,jdbcType=VARCHAR},
		ip = #{ip,jdbcType=VARCHAR},
		gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
		msg = #{msg,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="list" resultMap="BaseResultMap">
		select `id`,`user_id`,`username`,`operation`,`time`,`method`,`params`,`ip`,`gmt_create`, `msg` from sys_log
        <where>  
  		  <if test="id != null and id != ''"> and id = #{id} </if>
  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
  		  <if test="username != null and username != ''"> and username = #{username} </if>
  		  <if test="operation != null and operation != ''"> and operation = #{operation} </if>
  		  <if test="time != null and time != ''"> and time = #{time} </if>
  		  <if test="method != null and method != ''"> and method = #{method} </if>
  		  <if test="params != null and params != ''"> and params = #{params} </if>
  		  <if test="ip != null and ip != ''"> and ip = #{ip} </if>
  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_log
		 <where>  
  		  <if test="id != null and id != ''"> and id = #{id} </if>
  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
  		  <if test="username != null and username != ''"> and username = #{username} </if>
  		  <if test="operation != null and operation != ''"> and operation = #{operation} </if>
  		  <if test="time != null and time != ''"> and time = #{time} </if>
  		  <if test="method != null and method != ''"> and method = #{method} </if>
  		  <if test="params != null and params != ''"> and params = #{params} </if>
  		  <if test="ip != null and ip != ''"> and ip = #{ip} </if>
  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
  		</where>
	</select>
</mapper>