<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tbug.ball.service.dao.fund.ChargeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.tbug.ball.service.model.fund.ChargeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="send_message" property="sendMessage" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="receive_message" property="receiveMessage" jdbcType="VARCHAR" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="return_code" property="returnCode" jdbcType="CHAR" />
    <result column="return_status" property="returnStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, apply_id, amount, send_message, send_time, receive_message, receive_time, return_code, 
    return_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from charge_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from charge_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tbug.ball.service.model.fund.ChargeRecord" >
    insert into charge_record (id, apply_id, amount, 
      send_message, send_time, receive_message, 
      receive_time, return_code, return_status
      )
    values (#{id,jdbcType=INTEGER}, #{applyId,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{sendMessage,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, #{receiveMessage,jdbcType=VARCHAR}, 
      #{receiveTime,jdbcType=TIMESTAMP}, #{returnCode,jdbcType=CHAR}, #{returnStatus,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tbug.ball.service.model.fund.ChargeRecord" >
    insert into charge_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="sendMessage != null" >
        send_message,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="receiveMessage != null" >
        receive_message,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="returnCode != null" >
        return_code,
      </if>
      <if test="returnStatus != null" >
        return_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="sendMessage != null" >
        #{sendMessage,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveMessage != null" >
        #{receiveMessage,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnCode != null" >
        #{returnCode,jdbcType=CHAR},
      </if>
      <if test="returnStatus != null" >
        #{returnStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tbug.ball.service.model.fund.ChargeRecord" >
    update charge_record
    <set >
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="sendMessage != null" >
        send_message = #{sendMessage,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveMessage != null" >
        receive_message = #{receiveMessage,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnCode != null" >
        return_code = #{returnCode,jdbcType=CHAR},
      </if>
      <if test="returnStatus != null" >
        return_status = #{returnStatus,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tbug.ball.service.model.fund.ChargeRecord" >
    update charge_record
    set apply_id = #{applyId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      send_message = #{sendMessage,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      receive_message = #{receiveMessage,jdbcType=VARCHAR},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      return_code = #{returnCode,jdbcType=CHAR},
      return_status = #{returnStatus,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>