<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tbug.ball.service.dao.pay.CustomerWithdrawMapper" >
  <resultMap id="BaseResultMap" type="com.tbug.ball.service.model.pay.CustomerWithdraw" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="link_man" property="linkMan" jdbcType="VARCHAR" />
    <result column="link_phone_no" property="linkPhoneNo" jdbcType="VARCHAR" />
    <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, link_man, link_phone_no, account_no, account_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer_withdraw
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer_withdraw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tbug.ball.service.model.pay.CustomerWithdraw" >
    insert into customer_withdraw (id, link_man, link_phone_no, 
      account_no, account_name)
    values (#{id,jdbcType=INTEGER}, #{linkMan,jdbcType=VARCHAR}, #{linkPhoneNo,jdbcType=VARCHAR}, 
      #{accountNo,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tbug.ball.service.model.pay.CustomerWithdraw" >
    insert into customer_withdraw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="linkMan != null" >
        link_man,
      </if>
      <if test="linkPhoneNo != null" >
        link_phone_no,
      </if>
      <if test="accountNo != null" >
        account_no,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="linkMan != null" >
        #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkPhoneNo != null" >
        #{linkPhoneNo,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tbug.ball.service.model.pay.CustomerWithdraw" >
    update customer_withdraw
    <set >
      <if test="linkMan != null" >
        link_man = #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkPhoneNo != null" >
        link_phone_no = #{linkPhoneNo,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null" >
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tbug.ball.service.model.pay.CustomerWithdraw" >
    update customer_withdraw
    set link_man = #{linkMan,jdbcType=VARCHAR},
      link_phone_no = #{linkPhoneNo,jdbcType=VARCHAR},
      account_no = #{accountNo,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>