<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tbug.ball.service.dao.pay.PaymentChannelMapper">
	<resultMap id="BaseResultMap"
		type="com.tbug.ball.service.model.pay.PaymentChannel">
		<id column="channel_id" property="channelId" jdbcType="INTEGER" />
		<result column="channel_name" property="channelName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="charge_switch" property="chargeSwitch"
			jdbcType="CHAR" />
		<result column="charge_times" property="chargeTimes" jdbcType="INTEGER" />
		<result column="charge_fee" property="chargeFee" jdbcType="DECIMAL" />
		<result column="withdraw_switch" property="withdrawSwitch"
			jdbcType="CHAR" />
		<result column="withdraw_min" property="withdrawMin" jdbcType="DECIMAL" />
		<result column="withdraw_max" property="withdrawMax" jdbcType="DECIMAL" />
		<result column="withdraw_fee" property="withdrawFee" jdbcType="DECIMAL" />
		<result column="withdraw_times" property="withdrawTimes"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		channel_id, channel_name, create_time, modify_time, charge_switch, charge_times,
		charge_fee, withdraw_switch, withdraw_min, withdraw_max, withdraw_fee,
		withdraw_times
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from payment_channel
		where channel_id = #{channelId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from payment_channel
		where channel_id = #{channelId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.tbug.ball.service.model.pay.PaymentChannel">
		insert into payment_channel (channel_id, channel_name, create_time,
		modify_time, charge_switch, charge_times,
		charge_fee, withdraw_switch, withdraw_min,
		withdraw_max, withdraw_fee, withdraw_times
		)
		values (#{channelId,jdbcType=INTEGER}, #{channelName,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{modifyTime,jdbcType=TIMESTAMP}, #{chargeSwitch,jdbcType=CHAR}, #{chargeTimes,jdbcType=INTEGER},
		#{chargeFee,jdbcType=DECIMAL}, #{withdrawSwitch,jdbcType=CHAR},
		#{withdrawMin,jdbcType=DECIMAL},
		#{withdrawMax,jdbcType=DECIMAL}, #{withdrawFee,jdbcType=DECIMAL}, #{withdrawTimes,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.tbug.ball.service.model.pay.PaymentChannel">
		insert into payment_channel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="channelId != null">
				channel_id,
			</if>
			<if test="channelName != null">
				channel_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
			<if test="chargeSwitch != null">
				charge_switch,
			</if>
			<if test="chargeTimes != null">
				charge_times,
			</if>
			<if test="chargeFee != null">
				charge_fee,
			</if>
			<if test="withdrawSwitch != null">
				withdraw_switch,
			</if>
			<if test="withdrawMin != null">
				withdraw_min,
			</if>
			<if test="withdrawMax != null">
				withdraw_max,
			</if>
			<if test="withdrawFee != null">
				withdraw_fee,
			</if>
			<if test="withdrawTimes != null">
				withdraw_times,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="channelId != null">
				#{channelId,jdbcType=INTEGER},
			</if>
			<if test="channelName != null">
				#{channelName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="chargeSwitch != null">
				#{chargeSwitch,jdbcType=CHAR},
			</if>
			<if test="chargeTimes != null">
				#{chargeTimes,jdbcType=INTEGER},
			</if>
			<if test="chargeFee != null">
				#{chargeFee,jdbcType=DECIMAL},
			</if>
			<if test="withdrawSwitch != null">
				#{withdrawSwitch,jdbcType=CHAR},
			</if>
			<if test="withdrawMin != null">
				#{withdrawMin,jdbcType=DECIMAL},
			</if>
			<if test="withdrawMax != null">
				#{withdrawMax,jdbcType=DECIMAL},
			</if>
			<if test="withdrawFee != null">
				#{withdrawFee,jdbcType=DECIMAL},
			</if>
			<if test="withdrawTimes != null">
				#{withdrawTimes,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tbug.ball.service.model.pay.PaymentChannel">
		update payment_channel
		<set>
			<if test="channelName != null">
				channel_name = #{channelName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="chargeSwitch != null">
				charge_switch = #{chargeSwitch,jdbcType=CHAR},
			</if>
			<if test="chargeTimes != null">
				charge_times = #{chargeTimes,jdbcType=INTEGER},
			</if>
			<if test="chargeFee != null">
				charge_fee = #{chargeFee,jdbcType=DECIMAL},
			</if>
			<if test="withdrawSwitch != null">
				withdraw_switch = #{withdrawSwitch,jdbcType=CHAR},
			</if>
			<if test="withdrawMin != null">
				withdraw_min = #{withdrawMin,jdbcType=DECIMAL},
			</if>
			<if test="withdrawMax != null">
				withdraw_max = #{withdrawMax,jdbcType=DECIMAL},
			</if>
			<if test="withdrawFee != null">
				withdraw_fee = #{withdrawFee,jdbcType=DECIMAL},
			</if>
			<if test="withdrawTimes != null">
				withdraw_times = #{withdrawTimes,jdbcType=INTEGER},
			</if>
		</set>
		where channel_id = #{channelId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tbug.ball.service.model.pay.PaymentChannel">
		update payment_channel
		set channel_name = #{channelName,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		modify_time = #{modifyTime,jdbcType=TIMESTAMP},
		charge_switch = #{chargeSwitch,jdbcType=CHAR},
		charge_times = #{chargeTimes,jdbcType=INTEGER},
		charge_fee = #{chargeFee,jdbcType=DECIMAL},
		withdraw_switch = #{withdrawSwitch,jdbcType=CHAR},
		withdraw_min = #{withdrawMin,jdbcType=DECIMAL},
		withdraw_max = #{withdrawMax,jdbcType=DECIMAL},
		withdraw_fee = #{withdrawFee,jdbcType=DECIMAL},
		withdraw_times = #{withdrawTimes,jdbcType=INTEGER}
		where channel_id = #{channelId,jdbcType=INTEGER}
	</update>
	
	<select id="listByALL" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from payment_channel
	</select>
</mapper>