<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tbug.ball.service.dao.pay.PaymentChannelMapper" >
  <resultMap id="BaseResultMap" type="com.tbug.ball.service.model.pay.PaymentChannel" >
    <id column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
    <result column="recharge_switch" property="rechargeSwitch" jdbcType="CHAR" />
    <result column="withdraw_switch" property="withdrawSwitch" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    channel_id, channel_name, recharge_switch, withdraw_switch, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from payment_channel
    where channel_id = #{channelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from payment_channel
    where channel_id = #{channelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tbug.ball.service.model.pay.PaymentChannel" >
    insert into payment_channel (channel_id, channel_name, recharge_switch, 
      withdraw_switch, create_time, modify_time
      )
    values (#{channelId,jdbcType=INTEGER}, #{channelName,jdbcType=VARCHAR}, #{rechargeSwitch,jdbcType=CHAR}, 
      #{withdrawSwitch,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tbug.ball.service.model.pay.PaymentChannel" >
    insert into payment_channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="channelName != null" >
        channel_name,
      </if>
      <if test="rechargeSwitch != null" >
        recharge_switch,
      </if>
      <if test="withdrawSwitch != null" >
        withdraw_switch,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="rechargeSwitch != null" >
        #{rechargeSwitch,jdbcType=CHAR},
      </if>
      <if test="withdrawSwitch != null" >
        #{withdrawSwitch,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tbug.ball.service.model.pay.PaymentChannel" >
    update payment_channel
    <set >
      <if test="channelName != null" >
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="rechargeSwitch != null" >
        recharge_switch = #{rechargeSwitch,jdbcType=CHAR},
      </if>
      <if test="withdrawSwitch != null" >
        withdraw_switch = #{withdrawSwitch,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where channel_id = #{channelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tbug.ball.service.model.pay.PaymentChannel" >
    update payment_channel
    set channel_name = #{channelName,jdbcType=VARCHAR},
      recharge_switch = #{rechargeSwitch,jdbcType=CHAR},
      withdraw_switch = #{withdrawSwitch,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where channel_id = #{channelId,jdbcType=INTEGER}
  </update>
</mapper>