<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">     

	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="consumer-of-ball-manage" />
	
	<!-- <context:property-placeholder ignore-unresolvable="true" location="classpath:${propertie-file}" /> -->

	<!-- zookeeper注册中心 -->
	<dubbo:registry protocol="zookeeper" address="zookeeper://127.0.0.1:2181" /> 
	
	<!-- 使用multicast广播注册中心暴露的服务地址 -->
	<!--<dubbo:registry address="multicast://10.57.41.19:1234" /> -->
	<dubbo:reference id="scheduleService" interface="com.tbug.ball.service.ScheduleService" timeout="120000" retries="0"/>
	
	<dubbo:reference id="brokerService" interface="com.tbug.ball.service.BrokerService" timeout="120000" retries="0"/>
	
	<dubbo:reference id="customerService" interface="com.tbug.ball.service.CustomerService" timeout="120000" retries="0"/>
	
	<dubbo:reference id="memberService" interface="com.tbug.ball.service.MemberService" timeout="120000" retries="0"/>
	
	<dubbo:reference id="tradeService" interface="com.tbug.ball.service.TradeService" timeout="120000" retries="0"/>
	
	<dubbo:reference id="orderService" interface="com.tbug.ball.service.OrderService" timeout="120000" retries="0"/>
	
	<dubbo:reference id="menuService" interface="com.tbug.ball.service.MenuService" timeout="120000" retries="2"/>

	<dubbo:reference id="roleService" interface="com.tbug.ball.service.RoleService" timeout="120000" retries="2"/>

	<dubbo:reference id="deptService" interface="com.tbug.ball.service.DeptService" timeout="120000" retries="2"/>
	
	<dubbo:reference id="logService" interface="com.tbug.ball.service.LogService" timeout="120000" retries="2"/>
	
	<dubbo:reference id="accountService" interface="com.tbug.ball.service.AccountService" timeout="120000" retries="2"/>

</beans>