.a_button {
	display: inline-block;
	position: relative;
	width: 55px;
	height: 30px;
	text-align: center;
	font-family:tahoma,"宋体";
	background: url(../img/tzbg.png) no-repeat 0 -31px;
	color: #252525;
}

.a_b a:HOVER{background-position:0 -93px;}
.a_b a:VISITED{background-position:-235px -31px;}

.span_title {
	display: inline-block;
	position: relative;
	width: 55px;
	height: 30px;
	text-align: center;
	font-family:tahoma,"宋体";
	font-size: 14px;
	font-weight:bold;
	color: #244304;
}
.w_100 {
	width: 68px;
	text-align: center;
}
.gamer_name {
	color: #0041a2;
}

.modal-content .weui-cell .weui-cell__bd .c_default {background-color: #0772B6;color: white;}
.modal-content .weui-cell .weui-cell__bd .c_display {background-color: #808080;}
